@import url("https://fonts.googleapis.com/css2?family=Akshar&display=swap");
body {
  overflow-x: hidden;
}

.h1-about {
  color: aqua;
  font-size: 3rem;
}

@-webkit-keyframes rott {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rott {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

* {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Akshar', sans-serif;
}

@media (max-width: 768px) {
  .cr {
    -webkit-animation: rott 10s linear infinite;
            animation: rott 10s linear infinite;
    background-image: url("./trex2.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
  }
  .body-about {
    overflow-y: hidden;
    background-color: #333;
    min-height: 100vh;
    width: 100vw;
    padding: 40px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .body-about .about-t {
    color: snow;
    padding: 10px;
  }
  .body-about p {
    color: snow;
    font-size: 30px;
    font-weight: bolder;
    text-align: start;
    margin: 20px 30px;
    line-height: 80px;
  }
  .body-about p .about-t {
    font-size: 2rem;
    color: aquamarine;
  }
}

@media (min-width: 769px) {
  .cr {
    -webkit-animation: rott 10s linear infinite;
            animation: rott 10s linear infinite;
    background-image: url("./trex2.jpg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
  }
  .body-about {
    overflow-y: hidden;
    background-color: #333;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-about .about-t {
    color: snow;
    padding: 10px;
  }
  .body-about p {
    color: snow;
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
    margin: 20px 30px;
    line-height: 80px;
  }
  .body-about p .about-t {
    font-size: 2rem;
    color: aquamarine;
  }
}
/*# sourceMappingURL=style.css.map */