@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');


*{
  transition: all 0.5s ease-in-out ;
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Akshar', sans-serif;
}

a{
      text-decoration: none;
      color: #333;
}

.body-ex{
      background-size: 100% 100%;
      background-position: center;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      &:hover{
            background-size: 120% 120%;
      }
      &:hover .circle{
            transform: scale(1,1);
      }
      .circle{
            transform: scale(0);
            background-color: aqua;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
      }
}


.body-works{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      background-color: #333;  
}

@media (min-width:481px){
      
.body-works{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      background-color: #333;  
}
}

@media (min-width:830px){
      
      .body-works{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            background-color: #333;  
      }
      }

@media (min-width:1400px){
      
      .body-works{
                  display: grid;
                  grid-template-columns: repeat(4,1fr);
                  background-color: #333;  
      }
}


@media (min-width:2000px){
      
      .body-works{
                  display: grid;
                  grid-template-columns: repeat(5,1fr);
                  background-color: #333;  
      }
}